<% include partials/header %>


     <H1> Hello Welcome to the home page of Yelp Camp</H1>

<div class="ui equal width center aligned segment grid" id="headImage">
    <br>
    <br>
    <br>
   

    <div class ="row">
        <div class="column">
           <a class="huge ui primary button" href="/camps">View All Camps</a>
        </div>
        <div class="column">
           <a class="huge ui primary button" href="/camps/new">Add New Camp</a>
        </div>
    </div>       
    <br>
    <br>
    <br>
    <div class="center aligned padded">
        <!--<img src="https://images.pexels.com/photos/247932/pexels-photo-247932.jpeg?auto=compress&cs=tinysrgb&h=350">-->
    </div>
</div>

<% include partials/footer %>
