<% include partials/header %>
<form action="/login" method ="post">
<div class="ui center container">
    <div class="ui inverted segment">
      <div class="ui inverted form">
         <div class="two fields">
          <div class="field">
            <label>E-Mail</label>
            <input name="username" placeholder="E-mail" type="email">
          </div>
          <div class="field">
            <label>Password</label>
            <input name="password" placeholder="Password" type="password">
          </div>
        </div>
           <div class="two fields">
                    <div class="field ">
                     <button type='submit' class="ui left floated submit button">Submit</button>
                    </div>
                    <div class="field inlineDisplay">
                         <a class="ui primary right floated button" href="/register">Register</a>
                    </div>
            </div>
        </div>
      </div>
    </div>
    </form>
<% include partials/footer %>